<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bwsmobile.bwsmobile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.LoginActivity" />
        </activity>
        <activity
            android:name=".AlmoxarifadoActivity"
            android:label="@string/title_activity_almoxarifado"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.MenuActivity" />
        </activity>
        <activity
            android:name=".EntregaRecebimentoActivity"
            android:label="@string/title_activity_entrega"
            android:parentActivityName=".AlmoxarifadoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.AlmoxarifadoActivity" />
        </activity>
        <activity
            android:name=".MenuEntregaRecebimentoActivity"
            android:label="@string/title_activity_menu_entrega_recebimento"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuLocacaoActivity"
            android:label="@string/title_activity_menu_locacao"
            android:parentActivityName=".AlmoxarifadoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.AlmoxarifadoActivity" />
        </activity>
        <activity
            android:name=".LocarActivity"
            android:label="@string/title_activity_locar"
            android:parentActivityName=".MenuLocacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.MenuLocacaoActivity" />
        </activity>
        <activity
            android:name=".ManutencaoActivity"
            android:label="@string/title_activity_manutencao"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.MenuActivity" />
        </activity>
        <activity
            android:name=".VeiculosActivity"
            android:label="@string/title_activity_veiculos"
            android:parentActivityName=".ManutencaoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.ManutencaoActivity" />
        </activity>
        <activity
            android:name=".EquipamentosActivity"
            android:label="@string/title_activity_equipamentos"
            android:parentActivityName=".ManutencaoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.ManutencaoActivity" />
        </activity>
        <activity
            android:name=".CadastroVeiculoActivity"
            android:label="@string/title_activity_cadastro_veiculo"
            android:parentActivityName=".ManutencaoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bwsmobile.bwsmobile.ManutencaoActivity" />
        </activity>
    </application>

</manifest>
